---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import diagram from '../../../assets/diagram.png'
import glow from '../../../assets/glowing/npc.png'
import settings from '../../../assets/settings/settings-menu.png'
import permissions from '../../../assets/permission/permissions-menu.png'
import member from '../../../assets/member/manage-member-item.png'
import logs from '../../../assets/logs/logs-item.png'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty"><strong>En iyiler</strong> için, <strong>en iyisi</strong>!</h2>
			<p class="pb-0 text-lg">
				Kim sunucusu ve oyuncuları için en iyisini istemez ki?<br> 
				Eğer siz de her zaman en iyisi olmak isteyenlerdenseniz, doğru yerdesiniz.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Verileriniz güvende!"
				subtitle="sFarmer'da sizi Ormlite kullanarak tasarlanan, performanslı ve güvenli bir veritabanı bekliyor. SQLite ve MySQL teknolojileri ile veri kaybına son!"
				image={diagram}
			/>
			<Card
				title="Tamamen Kişiselleştirilebilir"
				subtitle="Çiftçi üyeleri, tarım işlerini kolaylaştıran otomatik hasat, ekim ve öldürme gibi otomasyon seçeneklerini aktif veya pasif hale getirerek üretim sürecini kişiselleştirebilir."
				image={settings}
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Üye Sistemi"
				subtitle="Çiftçi sahibi, üyeler üzerinde yetki değişikliği yaparak onları terfi ettirebilir ya da yetkilerini kısıtlayabilir. Bu sayede, üyelerin erişimi sınırlanabilir."
				image={member}
			/>
			<Card
				title="Yetki Sistemi"
				subtitle="Çiftçi sahibine, üyelerine atanacak rollerin yetkilerini özgürce düzenleme imkânı tanınır. Üyelerin çiftçi içindeki erişim haklarını çiftçi sahibi belirler."
				image={permissions}
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Parıltılı Çiftçiler!"
				subtitle="Eğer sunucunuzda çiftçi etkileşimi NPC üzerinden sağlanıyorsa, oyuncular bu NPC’nin parıltı durumunu ve rengini kendi tercihlerine göre değiştirebilir."
				image={glow}
			/>
			<Card
				title="Kayıt/Geçmiş Sistemi"
				subtitle="Çiftçi üyelerinin gerçekleştirdiği tüm önemli işlemler kayıt altına alınır ve bu kayıtlar diğer üyeler tarafından görüntülenebilir. Böylece çiftçi içinden yapılan faaliyetlerin takibi sağlanır."
				image={logs}
			/>
		</Col>
	</Row>
</Section>
